<div class="short" style="margin-left: 0;margin-top: 6%">
  <h1>
    <p class="text_list_update">
      <a href="" class="dropdown-item text-light bg-dark">
        <i class="fa-solid fa-star"></i>
        Danh Sách Thể Loại {{category?.name}}
      </a>
    </p>
  </h1>
</div>


<div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4 "  style="margin-bottom: 5%">
  <div class="col" *ngFor="let st of listStoryByCate">
    <div class="card" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0">
      <img
        src="{{st.image}}"
        class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #18191a;color: white;text-align: center;">
        <h5 class="card-title">
          <a routerLink="/detailStory/{{st.id}}">{{st.name}}</a>
        </h5>
        <a routerLink="/homeChapterImage/{{st.chapterList[st.chapterList.length-1].id}}">Chương {{st.chapterList.length}}</a>
      </div>
    </div>
  </div>
</div>
