<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px; margin-bottom: 20px">
      <p style="text-align: center; font-size: 20px;font-weight: 500; color: blue; margin-bottom: 20px">Create
        Chapter Image</p>
      <mat-dialog-content>
        <mat-card style="margin: 0">
          <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && updateChapterImage()" novalidate>
            <mat-error class="matErrorFont">
              {{status}}
            </mat-error>
            <br>
            <img src="{{chapterImage.image}}" alt="" style="width: 500px;height: 500px">
            <br>
            <app-upload-avatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
            <div class="col-12" style="margin-top: 0">
              <button class="btn btn-primary w-100" type="submit">
                Update Chapter Image
              </button>
              <button mat-raised-button class="btn btn-primary w-100" color="warn" [mat-dialog-close]="true" cdkFocusInitial>
                Close
              </button>
            </div>
          </form>
        </mat-card>
      </mat-dialog-content>
    </div>
  </div>
</div>
