.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-left: 5%;

}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


.c_review {
  margin-bottom: 0
}

.c_review li {
  margin-bottom: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e8e8e8
}

.c_review li:last-child {
  margin: 0;
  border: none
}

.c_review .avatar {
  float: left;
  width: 80px
}

.c_review .comment-action {
  float: left;
  width: calc(100% - 80px)
}

.c_review .comment-action .c_name {
  margin: 0
}

.c_review .comment-action p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
  display: block
}

.product_item:hover .cp_img {
  top: -40px
}

.product_item:hover .cp_img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

.product_item:hover .cp_img .hover {
  display: block
}

.product_item .cp_img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out
}

.product_item .cp_img img {
  transition: all 0.2s ease-in-out;
  border-radius: 6px
}

.product_item .cp_img .hover {
  display: none;
  text-align: center;
  margin-top: 10px
}

.product_item .product_details {
  padding-top: 110%;
  text-align: center
}

.product_item .product_details h5 {
  margin-bottom: 5px
}

.product_item .product_details h5 a {
  font-size: 16px;
  color: snow;
}

.product_item .product_details h5 a:hover {
  text-decoration: none
}

.product_item .product_details .product_price {
  margin: 0
}

.product_item .product_details .product_price li {
  display: inline-block;
  padding: 0 10px
}

.product_item .product_details .product_price .new_price {
  font-weight: 600;
  color: #ff4136
}

.product_item_list table tr td {
  vertical-align: middle
}

.product_item_list table tr td h5 {
  font-size: 15px;
  margin: 0
}

.product_item_list table tr td .btn {
  box-shadow: none !important
}

.product-order-list table tr th:last-child {
  width: 145px
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.preview .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.preview .preview-thumbnail.nav-tabs {
  margin-top: 15px;
  font-size: 0
}

.preview .preview-thumbnail.nav-tabs li {
  width: 20%;
  display: inline-block
}

.preview .preview-thumbnail.nav-tabs li nav-link img {
  max-width: 100%;
  display: block
}

.preview .preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 2px;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important
}

.preview .preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0
}

.preview .tab-content {
  overflow: hidden
}

.preview .tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.details .rating .stars {
  display: inline-block
}

.details .sizes .size {
  margin-right: 10px
}

.details .sizes .size:first-of-type {
  margin-left: 40px
}

.details .colors .color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px
}

.details .colors .color:first-of-type {
  margin-left: 20px
}

.details .colors .not-available {
  text-align: center;
  line-height: 2em
}

.details .colors .not-available:before {
  font-family: Material-Design-Iconic-Font;
  content: "\f136";
  color: #fff
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.cart-page .cart-table tr th:last-child {
  width: 145px
}

.cart-table .quantity-grp {
  width: 120px
}

.cart-table .quantity-grp .input-group {
  margin-bottom: 0
}

.cart-table .quantity-grp .input-group-addon {
  padding: 0 !important;
  text-align: center;
  background-color: #1ab1e3
}

.cart-table .quantity-grp .input-group-addon a {
  display: block;
  padding: 8px 10px 10px;
  color: #fff
}

.cart-table .quantity-grp .input-group-addon a i {
  vertical-align: middle
}

.cart-table .quantity-grp .form-control {
  background-color: #fff
}

.cart-table .quantity-grp .form-control+.input-group-addon {
  background-color: #1ab1e3
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control {
  padding: 0
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control .btn-round.btn-simple {
  padding-top: 12px;
  padding-bottom: 12px
}

.ec-checkout .wizard .content ul.card-type {
  font-size: 0
}

.ec-checkout .wizard .content ul.card-type li {
  display: inline-block;
  margin-right: 10px
}

.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
  font-size: 14px;
  color: snow;
  padding: 20px;
  font-weight: 400;
  background-color: #18191a;
}

.cp_img{
  text-align: center;
}

a{
  text-decoration: none;
}



